body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

#weather-container {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #333;
}

button {
  display: block;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

#weather-info {
  margin-top: 20px;
  text-align: center;
}

p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}
